*{
    margin: 0;
    padding: 0;
}
#titulo_principal{
    color:brown;
    text-align: center;
    margin: 15px;
}

h2{
    color: darkcyan;
}

p{
    color: navy;
}
/*Clase de CSS*/
.tarjeta{
    border: 10px solid rebeccapurple;
    background-color: antiquewhite;
    text-align: center;
    margin: 15px 100px;
    padding: 15px;
}
.titulo{
    color:rgb(228, 119, 16);
}