h1{
    color: crimson;
    text-align: center;
}
h2{
    color: darkviolet;
}
p{
    color: darkblue;
}
div{
    border: 10px solid royalblue;
    background-color: lightpink;
    text-align: center;
}
